html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background:radial-gradient(circle at top,#0f172a,#000000)
}